.form .form-label label {
  font-size: 20px;
  font-weight: 600;
}
.new-task-label {
  text-align: center;
}
.task-title {
  height: 50px !important;
}
.task-desc {
  height: 90px !important;
}
.taskform-div {
  margin: 50px 0;
}
.taskform {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 800px;
  border: 1px solid #ababab;
  background: rgba(255, 255, 255, 0.2);
  padding: 16px;
  border-radius: 12px;
}
.add-task {
  background-color: #f63e7b;
  color: white;
  font-size: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding-bottom: 7px;
  font-weight: 600;
  border: none;
  outline: none;
}
.add-task:hover {
  border: 2px solid #f63e7b !important;
  background-color:white !important;
  color: black !important;
}
@media (max-width: 768px) {
  .form {
    margin: 0 15px;
  }
}
