.task-list {
  height: 80vh;
  flex-direction: column;
}
.table-top{
  margin-top: 20px;
}
.delete-btn {
  background-color: red;
  color: white;
  font-size: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
  padding-bottom: 7px;
  font-weight: 600;
}
.ant-table-thead th {
  font-size: 20px;
  font-weight: 700;
  text-align: center !important;
}

.ant-table-tbody td {
  font-size: 16px;
  font-weight: 500;
  text-align: center !important;
}
.mark-as-completed {
  background-color: green;
  color: white;
  font-size: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 40px;
  padding-bottom: 7px;
  font-weight: 600;
}
